body{
	margin:0px;
	padding-bottom: 0px;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	color: #6B6B6B;
	background-color: gray;
}
.container-fluid{
	background-color: gray;
	padding-top: 15px;
}
#about, #contact{
	background-color: #F6F6F6;
}
#home, #portfolio, #footer{
	background-color: #fff;
}
.section{
	height: 100%;
	min-height: 100%;
}

/*POOF*/
.header{
	min-height: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#logo{
	width:400px;
	vertical-align: middle;
}
#caption{
	font-size: 50px;
}

/*ABOUT*/

.title{
	font-size: 50px;
	font-style: italic;
	text-align: left;
	margin-left: 25px;
}
.line{
	border: 1px solid #E1CE8B;
	margin-top:50px;
	margin-right: 40px;
}
.text{
	margin-bottom: 3%;
	font-weight: 400;
	font-size: 30px;
	text-align: center;
	min-height: 80vh;
	max-height: 80;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#triangle{
	width:5%;
	vertical-align: middle;
}

/* PORTFOLIO */

.gallery img{
	margin-top: 5%;
}
.works{
	padding-bottom: 2%;
	width:100%;
	padding-left: 30px;
}

/*CONTACT*/
#text{
	font-size: 3vh;
	margin-left: 5%;
	margin-right: 5%;
}
.break{
	display: inline-block;
}
.footer{
	width: 100%;
	height:20%;
	padding-top: 1%;
}
.details{
	margin-left: 1%;
	margin-right: 1%;
	font-size: 5vh;
}
.form{
	margin-top: 2%;
	margin-left: 5%;
	margin-right: 5%;
}
.form-group{
	width: 100%;
	height: 100%;
}
.small-box{
	height: 6%;
}
.form-group label{
	font-size: 3vw;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}
.form-group input{
	padding-left: 5%;
	font-size: 2vh;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	width: 65%;
	background-color: #F6F6F6;
	outline: 0;
	border: 0;
}
.form-group textarea{
	font-size: 2vh;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	margin-top: 1%;
	padding-top: 3%;
	background-color: #F6F6F6;
	min-width: 60%;
	max-width: 80%;
	margin-left: 5%;
	outline: 0;
	border: 0;
	resize: none;
}
.column{
	height: 25%;
}
.column2{
	height: 100%;
}


@media screen and (max-width: 758px) {
	#logo{
		width:300px;
	}
	#caption{
		font-size: 40px;
	}
	.text{
		font-size: 23px;
	}
}
@media screen and (max-width: 524px) {
	#logo{
		width:250px;
	}
	#caption{
		font-size: 35px;
	}
	.text{
		font-size: 20px;
	}
}

@media screen and (max-width: 410px) {
	#logo{
		width:200px;
	}
	#caption{
		font-size: 28px;
	}
	.title{
	font-size: 35px;
	}
	.line{
		margin-top:35px;
		margin-right: 20px;
	}
	.text{
		font-size: 15px;
	}
}

@media screen and (max-width: 335px) {
	#logo{
		width:200px;
	}
	#caption{
		font-size: 25px;
	}
		.text{
		font-size: 13px;
	}
}