body{
	margin:0px;
	padding:1%;
	padding-bottom: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	color: #6B6B6B;
	background-color: gray;
}
.container-fluid{
	padding: 0px;
	background-color: white;
}

.header{
	min-height: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#logo{
	width:400px;
	vertical-align: middle;
}
#caption{
	font-size: 20px; /*3em */
}
#about, #contact{
	background-color: #F6F6F6;
}
#title{
	font-size: 5vw;
	font-style: italic;
	text-align: left;
	margin-left: 3%;
	margin-right: 1%;
	padding-top: 1%;
}
#line{
	border: 0.18vw solid #E1CE8B;
	margin-top: 6%;
	margin-right: 5%;
}
.text{
	font-size: 100px;
	text-align: center;
	min-height: 80%;
	max-height: 80;
	margin-top: 

}
#triangle{
	width:5%;
	vertical-align: middle;
}
.gallery{
	margin-left: 3%;
	margin-right: 3%;
	padding-top: 2%;
	margin-top: 1%;
}
.gallery img{
	
}
#text{
	font-size: 3vh;
	margin-left: 5%;
	margin-right: 5%;
}
.break{
	display: inline-block;
}
.footer{
	width: 100%;
	height:20%;
	padding-top: 1%;
}
.details{
	margin-left: 1%;
	margin-right: 1%;
	font-size: 5vh;
}
.form{
	margin-top: 2%;
	margin-left: 5%;
	margin-right: 5%;
}
.form-group{
	width: 100%;
	height: 100%;
}
.small-box{
	height: 6%;
}
.form-group label{
	font-size: 3vw;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}
.form-group input{
	padding-left: 5%;
	font-size: 2vh;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	width: 65%;
	background-color: #F6F6F6;
	outline: 0;
	border: 0;
}
.form-group textarea{
	font-size: 2vh;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	margin-top: 1%;
	padding-top: 3%;
	background-color: #F6F6F6;
	min-width: 60%;
	max-width: 80%;
	margin-left: 5%;
	outline: 0;
	border: 0;
	resize: none;
}
.column{
	height: 25%;
}
.column2{
	height: 100%;
}
/*tablet portrait screen!!!*/
@media screen and (max-width: 758px) {
	#logo{
	width:50%;
	vertical-align: middle;
}

	}

	@media screen and (max-width: 524px) {
		#logo{
	width:300px;
	vertical-align: middle;
	}
	}
	@media screen and (max-width: 320px) {
		#logo{
	width:250px;
	vertical-align: middle;
}
	}

.section{
	min-height:100vh;
	width: 100%;
}
