body{
	margin:0px;
	padding-bottom: 0px;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	color: #6B6B6B;
	background-color: gray;
}
.container-fluid{
	background-color: gray;
	padding-top: 15px;
	padding-bottom: 15px;
}
#about, #contact{
	background-color: #F6F6F6;
}
#home, #portfolio, #footer{
	background-color: #fff;
}
.section{
	height: 100%;
	min-height: 100vh;
}
#contact{
	min-height: 90vh;
}
#footer{
	max-height: 20vh;
}
/*POOF*/
.header{
	min-height: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#logo{
	width:400px;
	vertical-align: middle;
}
#caption{
	font-size: 50px;
}

/*ABOUT*/
.heading{
	padding-top: 7vh;
}
.title{
	font-size: 50px;
	font-style: italic;
	text-align: left;
	margin-left: 25px;
}
.line{
	border: 1px solid #E1CE8B;
	margin-top:50px;
	margin-right: 40px;
}
.text{
	margin-bottom: 3%;
	font-weight: 400;
	font-size: 30px;
	text-align: center;
	min-height: 80vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#triangle{
	width:5%;
	vertical-align: middle;
}

/* PORTFOLIO */
.gallery img{
	margin-top: 5%;
	opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
    transition: all 0.5s ease;
}
.gallery img:hover{
	margin-top: 5%;
	opacity: 1;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}
.works{
	padding-bottom: 2%;
	width:100%;
	padding-left: 30px;
	margin-top: 5vh;
}

/*CONTACT*/
#contactcontainer{
	margin-top: 5vh;
}
#contacttext{
	font-size: 25px;
	font-weight: 400;
	margin-left: 5%;
	margin-right: 5%;
}
.break{
	display: inline-block;
}
.inputs{
	margin-top: 10px;
}
.form-group{
	width: 100%;
	height: 100%;
}
.form-group label,
.message label{
	font-size: 25px;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}
.message label{
	display: block;
	text-align: right;
}
.form-group input{
	padding-left: 5%;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	width: 65%;
	background-color: #F6F6F6;
	outline: 0;
	border: 0;
}
textarea{
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	padding-top: 5px;
	background-color: #F6F6F6;
	width: 90%;
	min-width: 60%;
	outline: 0;
	border: 0;
	resize: none;
}
.submitbtn{
	margin-bottom: 15px;

}
.column{
	height: 25%;
}
.column2{
	height: 100%;
}

/*FOOTER*/
.details{
	margin-left: 1%;
	margin-right: 1%;
	font-weight: 100;
	font-size: 30px;
}


@media screen and (max-width: 768px) {
	#messagecontainer{
		padding-left: 8.25%;
	}
	.message label{
		text-align: left;
	}
	.submitbtn{
		margin-left: 50px;
	}

}
@media screen and (max-width: 758px) {
	#logo{
		width:300px;
	}
	#caption{
		font-size: 40px;
	}
	.text{
		font-size: 23px;
	}
	.details{
		font-size: 25px;
	}
	#contacttext{
		font-size: 20px;
	}
}
@media screen and (max-width: 524px) {
	#logo{
		width:250px;
	}
	#caption{
		font-size: 35px;
	}
	.text{
		font-size: 20px;
	}
	.details{
		font-size: 20px;
	}
	#contacttext{
		font-size: 15px;
	}
}

@media screen and (max-width: 410px) {
	#logo{
		width:200px;
	}
	#caption{
		font-size: 28px;
	}
	.title{
	font-size: 35px;
	}
	.line{
		margin-top:35px;
		margin-right: 20px;
	}
	.text{
		font-size: 15px;
	}
	.details{
		font-size: 15px;
	}

   .col-xxs {
      display:block;
      float:none;
      width: 100%
   }
   .form-group input{
   	font-size: 15px;
   }
   textarea{
	font-size: 15px;
	}
}

@media screen and (max-width: 335px) {
	#logo{
		width:200px;
	}
	#caption{
		font-size: 25px;
	}
	.text{
		font-size: 13px;
	}
	.details{
		font-size: 10px;
		font-weight: 400;
	}

}